In [2]:
import os

class cfg():
    data_path = "/Users/user/Desktop/Algorun_24/data/data"

    seed = 42

    holidays_path = os.path.join(data_path, "holidays.csv")
    products_path = os.path.join(data_path, "products.csv")
    promotions_path = os.path.join(data_path, "promotions.csv")
    sample_submission_path = os.path.join(data_path, "sample_submission.csv")
    test_path = os.path.join(data_path, "test.csv")
    train_path = os.path.join(data_path, "train.csv")

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
holidays_df = pd.read_csv(cfg.holidays_path)
products_df = pd.read_csv(cfg.products_path)
promotions_df = pd.read_csv(cfg.promotions_path)
sample_submission_df = pd.read_csv(cfg.sample_submission_path)
test_df = pd.read_csv(cfg.test_path)
train_df = pd.read_csv(cfg.train_path)

In [6]:
train_df

,product_id,week_starting_date,sales_quantity,inventory,sales_revenue,price_without_tax,initial_price
0,0,2022-07-14,8.0,NaN,37.12,NaN,NaN
1,0,2023-07-13,7.0,NaN,34.50,NaN,NaN
2,0,2023-10-05,3.0,NaN,13.11,NaN,NaN
3,1,2023-03-23,2.0,NaN,7.50,NaN,NaN
4,4,2024-06-13,0.0,0.0,0.00,69.99,69.99
...,...,...,...,...,...,...,...
1763854,89712,2022-05-26,11.0,136.0,249.47,29.98,34.99
1763855,89712,2022-10-06,2.0,5.0,38.65,25.98,34.99
1763856,89715,2022-04-07,130.0,6670.0,6041.07,49.99,59.99
1763857,89715,2023-01-12,92.0,2713.0,4918.02,54.99,59.99
1763858,89715,2023-07-06,8.0,68.0,116.99,15.98,59.99

In [7]:
test_df

        product_id week_starting_date  price_without_tax  initial_price
0            63709          7/25/2024          29.980000      34.990002
1            78679          7/11/2024          55.980000      97.989998
2            80430           8/1/2024          55.980000      79.989998
3            14405          7/25/2024          39.980000      74.989998
4             8457          7/18/2024          99.989998      99.989998
...            ...                ...                ...            ...
144975       85455          7/25/2024           7.980000      29.990000
144976       13868           8/1/2024          44.990002      51.990002
144977       72117          7/18/2024          59.990002      59.990002
144978        2541          7/11/2024          65.980003      78.989998
144979       54218          7/11/2024          55.980000      64.989998

[144980 rows x 4 columns]

In [12]:
# Get unique product_ids from train_df
unique_product_ids_train = train_df['product_id'].unique()

unique_product_ids_test = test_df['product_id'].unique()

In [16]:
# Compare unique product ids between train_df and test_df

common_ids = set(train_df['product_id']).intersection(set(test_df['product_id']))

In [19]:
len(unique_product_ids_train)

56267

In [18]:
len(unique_product_ids_test)

36245

In [17]:
len(common_ids)

35645